{% if hxoob %}
<div id="chatelems" hx-swap-oob="innerHTML">
{% endif %}

<div id="chatlog" 
    hx-get="/chats/{{ chat_uuid }}/messages" hx-trigger="load" 
    hx-target="this" hx-swap="innerHTML"
    hx-on::after-settle="document.body.scrollTo(0, document.body.scrollHeight);">
</div>
<form id="chatinput"
    hx-post="/send-message" 
    hx-target="#chatlog" hx-swap="innerHTML" hx-indicator="#indicator"
    hx-on::before-request="console.log('Request started');"
    hx-on::after-request="if(event.detail.successful) { console.log('Request successful'); this.reset(); } else { console.log('Request failed'); }">
    
    <!-- Text input field -->
    <input type="text" name="chatmessage" required id="chatmessage" placeholder="Type a message..." autocomplete="off">
    
    <!-- Hidden input field for chat UUID -->
    <input type="hidden" name="chatuuid" id="chatuuid" value="{{ chat_uuid }}">
    
    <span class="request-indicator" id="indicator">
        <svg xmlns="http://www.w3.org/2000/svg" height="50" viewBox="0 0 24 24">
            <rect width="24" height="24" fill="none" />
            <path fill="currentColor" d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" opacity="0.25" />
            <path fill="currentColor" d="M10.72,19.9a8,8,0,0,1-6.5-9.79A7.77,7.77,0,0,1,10.4,4.16a8,8,0,0,1,9.49,6.52A1.54,1.54,0,0,0,21.38,12h.13a1.37,1.37,0,0,0,1.38-1.54,11,11,0,1,0-12.7,12.39A1.54,1.54,0,0,0,12,21.34h0A1.47,1.47,0,0,0,10.72,19.9Z">
                <animateTransform attributeName="transform" dur="0.75s" repeatCount="indefinite" type="rotate" values="0 12 12;360 12 12" />
            </path>
        </svg>
    </span>
    
    <button id="chatsend" aria-label="Send message">Send</button>
</form> 

{% if hxoob %}
</div>
{% endif %}
