<!-- Check if hxoob is not true -->
{%if not hxoob %}
<div id="chatlinks">
{% else %}
<!-- If hxoob is true, add hx-swap-oob attribute for out-of-band swap -->
<div id="chatlinks" hx-swap-oob="innerHTML">
{%endif%}

    <!-- Loop through each chat specification -->
    {%for i in range(0, nchats)%}

        <!-- Create a div for each chat link -->
        <div class="chatlink">
            <!-- Create a link to get the chat and update the target element with the chat content -->
            <a href="" hx-get="/chats/{{chat_specs[i]['uuid']}}" hx-target="#chatelems" hx-replace="#innerHTML">{{chat_specs[i]['title']}}</a>
            <!-- Create a delete button with a confirmation prompt -->
            <span class="deletebtn"><a href="" hx-delete="/chats/{{chat_specs[i]['uuid']}}" hx-target="#chatlinks" hx-swap="outerHTML" hx-confirm="Are you sure you want to delete this chat?">🗑️</a></span>
        </div>

    {%endfor%}

</div>
